<div class="game">げーむいちらん</div>
 <canvas data-processing-sources="/assets/smashes/smash7_2.pde /assets/smashes/Const.java /assets/smashes/StukaEffect.pde /assets/smashes/anime.pde /assets/smashes/class.pde /assets/smashes/figure.pde /assets/smashes/mousePressed.pde /assets/smashes/okita_status.pde"　font-family: "pkmn_r";></canvas>
 <canvas data-processing-sources="/assets/random.pde"></canvas>