<div class="nothidecontents">
    <img src="/assets/lefttop.png" id="lefttop" />
    <img src="/assets/righttop.png" id="righttop" />
    <img src="/assets/center.png" id="center" />
    <div class="title">
        <span id="ichi">
            <span id="first">S</span>mash
        </span><br /> 
        <span id="ni">monster</span>
        <br />
        <span id="subtitle">-attack of chumi-</span>
        <br/>
        <span class="extra">好評配信中</span>
    </div>
    <div class="picture" id="tanaka"><img src="/assets/tanaka.jpg" /></div>
    <div class="picture" id="okita"><img src="/assets/okita.jpg" /></div>
    <div class="picture" id="amano"><img src="/assets/amano.jpg" /></div>
    <div class="picture" id="kotani"><img src="/assets/kotani.jpg" /></div>
    <div class="picture" id="takatsu"><img src="/assets/takatsu.jpg" /></div>
    <div class="picture" id="maniwa"><img src="/assets/maniwa.jpg" /></div>
    <div class="picture" id="ogawa"><img src="/assets/ogawa.jpg" /></div>
    <div class="picture" id="kishimoto"><img src="/assets/kishimoto.jpg" /></div>
    <div class="picture" id="mino"><img src="/assets/mino.jpg" /></div>
    <div class="picture" id="umeda"><img src="/assets/umeda.jpg" /></div>
    <div class="picture" id="yoshikawa"><img src="/assets/yoshikawa.jpg" /></div>
</div>
<div class="hider">
    <div class="hidecontents" id="firstmessage"><p>その日、人類は思い出した</p></div>
    <div class="hidecontents" id="secondmessage"><p>ヤツらに支配されていた恐怖を…　</p></div>
    <div class="hidecontents" id="thirdmessage"><p>鳥籠の中に囚われていた屈辱を……</p></div>
</div>
